<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
            integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
            crossorigin="anonymous"
    />
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
            crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css"/>
    <title>Bootstrap Theme</title>
</head>
<body>
<!-- NAVBAR -->
<div class="container">
    <nav class="navbar navbar-expand-sm bg-light mb-3">
        <a href="#" class="nav-brand">
            <h3>
                <i class="fas fa-school"></i>
                Student
            </h3>
        </a>
    </nav>

    <!-- STUDENTS TABLE   -->
    <div class="card my-3">
        <div class="card-header bg-primary text-center text-white">
            Students
        </div>
        <div class="card-body">
            <table class="table table-striped table-hover">
                <thead class="thead-primary">
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                </thead>
                <tbody th:each="student : ${students}">
                <tr>
                    <td th:text="${student.id}">1</td>
                    <td th:text="${student.firstName}">John</td>
                    <td th:text="${student.lastName}">Smith</td>
                    <td th:text="${student.age}">23</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- BUTTONS -->
    <div class="row d-flex justify-content-between row-hl my-3">
        <div class="col-md-2 item-hl">
            <a href="student.html" class="btn-warning text-white btn-lg btn-block text-center" th:href="@{/}">
                <i class="fas fa-search"></i>
                Get students
            </a>
        </div>
        <div class="col-md-2 item-hl">
            <button class="btn-success text-white btn-lg" data-toggle="modal" data-target="#addStudentModal">
                <i class="fas fa-user-plus"></i>
                Add student
            </button>
        </div>
        <div class="col-md-2 item-hl">
            <button class="btn-info text-white btn-lg" data-toggle="modal" data-target="#editStudentModal">
                <i class="fas fa-pencil-alt"></i>
                Edit student
            </button>
        </div>
        <div class="col-md-2 item-hl">
            <button class="btn-danger text-white btn-lg" data-toggle="modal" data-target="#deleteStudentModal">
                <i class="fas fa-user-times"></i>
                Delete student
            </button>
        </div>
    </div>
</div>
<!-- MODALS -->
<!-- ADD STUDENT MODAL -->
<div class="modal" id="addStudentModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Student</h5>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form action="student.html" class="form" th:action="@{/student-save}" th:object="${student}"
                      method="post">
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" placeholder="First Name" class="form-control" th:field="*{firstName}">
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" placeholder="Last Name" class="form-control" th:field="*{lastName}">
                    </div>
                    <div class="form-group">
                        <label>Age</label>
                        <input type="number" placeholder="20" class="form-control" th:field="*{age}">
                    </div>
                    <input type="submit" class="btn btn-success text-white" value="Add Student" th:href="@{/}">
                </form>
            </div>
        </div>
    </div>
</div>
<!-- EDIT STUDENT MODAL -->
<div class="modal" id="editStudentModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Student</h5>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form action="student.html" th:action="@{/student-edit}" th:object="${student}" method="post">
                    <div class="form-group">
                        <label>Id</label>
                        <input type="number" placeholder="1" class="form-control" th:field="*{id}">
                    </div>
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" placeholder="First Name" class="form-control" th:field="*{firstName}">
                    </div>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" placeholder="Last Name" class="form-control" th:field="*{lastName}">
                    </div>
                    <div class="form-group">
                        <label>Age</label>
                        <input type="number" placeholder="20" class="form-control" th:field="*{age}">
                    </div>
                    <input type="submit" class="btn btn-info text-white" value="Edit Student" th:href="@{/}">
                </form>
            </div>
        </div>
    </div>
</div>
<!-- DELETE STUDENT MODAL -->
<div class="modal" id="deleteStudentModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Student</h5>
                <button class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form action="student.html" th:action="@{/student-delete}" th:object="${id}" method="post">
                    <div class="form-group">
                        <label>Id</label>
                        <input type="number" placeholder="1" class="form-control" th:field="*{id}">
                    </div>
                    <input type="submit" class="btn btn-danger text-white" value="Delete Student" th:href="@{/}">
                </form>
            </div>
        </div>
    </div>
</div>
</div>

<script
        src="http://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"
></script>
<script
        src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"
></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"
></script>

<script>
      // Get the current year for the copyright
      $("#year").text(new Date().getFullYear());














</script>
</body>
</html>
